body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

div.container {
	backgroundImage: 'url(img/background.png)';
}

#gameViewCanvas {
	-moz-box-shadow:0px 0px 10px 2px #777777;
	-webkit-box-shadow:0px 0px 10px 2px #777777;
	box-shadow:0px 0px 10px 2px #777777;
}

#backgroundCanvas {
	z-index: -2;
	position: absolute;
}

#spacecraft {
	visibility: hidden;
}

#background {
	visibility: hidden;
}

#bomb {
	visibility: hidden;
}